body {
  background: url(../img/404-2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.error {
  position: absolute;
   top: 50%;
   left: 50%;
   width: 500px;
   height: 500px;
   margin-top: -250px; /* Half the height */
   margin-left: -250px; /* Half the width */
  text-align: center;
}

.error-code {
  bottom: 60%;
  color: #fff;
  font-size: 96px;
  line-height: 100px;
}

.error-desc {
  font-size: 13px;
  color: #ffffff;
}
.font-bold{
  color: #ffffff;
}
.m-b-10 {
  margin-bottom: 10px!important;
}

.m-b-20 {
  margin-bottom: 20px!important;
}

.m-t-20 {
  margin-top: 20px!important;
}
